@import url( reset.css );

.container {
  font-family: nanumgothic, sans-serif;
	background: #020202;
	height: 100%;
}

.clouds {
	background: linear-gradient(to bottom,  #ece0b0 0%,#74a7b0 100%);
}

.button {
	position: absolute;
	top: 20px;
	right: 20px;
}

.button > a,
#texture > button,
.event > button {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	padding: 0 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

.clouds .button > a,
.picking .button > a {
	color: #212121;
	font-weight: bold;
}

#texture {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.action {
	position: absolute;
	top: 40%;
	left: 20px;
}

.color > a {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-bottom: 5px;
}

#colorff0000 {
	background-color: #ff0000;
}

#color00ff00 {
	background-color: #00ff00;
}

#color0000ff {
	background-color: #0000ff;
}